<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{headline}}</title>
    <link href="resources/css/style.css" rel="stylesheet" />
    <link href="resources/js/chartjs/Chart.min.css" rel="stylesheet" />
    <script src="resources/js/chartjs/Chart.min.js"></script>
    <script src="resources/js/monthly-chart.js"></script>

</head>
    <body class="no-print">
        <div class="pages">
            {{pages}}
        </div>
    </body>
</html>
